<?xml version="1.0"?>
<launch>
    <arg name="_uav_id" value="$(env UAV_GROUPNAME)" />
    <arg name="_uav_idx" value="$(env HOSTNAME)" />
    <arg name="_fcu_url" value="/dev/ttyAML0:230400" />
    <arg name="_gcs_url" value="udp://@192.168.31.194" /> <!-- zt laptop -->
    <group ns="drone0">

        <node pkg="pbtm" type="pbtm_node" name="pbtm_node" output="screen">
            <param name="agent_id" value="drone0" />
            <param name="send_command_rate" value="20" />
            <param name="timeout" value="0.5" />
            <param name="takeoff_height" value="1.3" />
            <!-- start position of the drone w.r.t global origin -->
            <rosparam param="global_start_position">[0.0, 0.0, 0.0]</rosparam>
            <rosparam param="height_range">[1.0, 5.0]</rosparam>

            <!-- heading of the drone w.r.t north -->
            <param name="yaw_offset_rad" value="0.0" />
            <param name="order" value="4" />
            <param name="max_velocity" value="2.0" />
            <param name="knot_division" value="3" />
            <param name="bypass_timeout" value="2.0"/>
            <param name="takeoff_land_velocity" value="0.3"/>
            <param name="use_px4ctrl" value="false"/>

            <!-- for iris only -->
            <param name="normalizedthrust_constant" value="0.02"/>
            <param name="normalizedthrust_offset" value="0.01"/>
            <param name="attctrl_constant" value="0.3"/>
            <param name="gains/p_x" value = "1.0"/>
            <param name="gains/p_y" value = "1.0"/>
            <param name="gains/p_z" value = "1.0"/>
            <param name="gains/v_x" value = "1.0"/>
            <param name="gains/v_y" value = "1.0"/>
            <param name="gains/v_z" value = "1.0"/>
            
            <!-- F = m_a * u ^ 2 + m_b * u + c -->
            <!-- u is the normalized pwm command (1000~2000 -> 0~1) -->
            <!-- measured for 1404 at 11.1v -->
            <param name="m_a" value = "202.33"/>
            <param name="m_b" value = "145.56"/>
            <param name="m_c" value = "-8.0219"/>

            <!-- Ratio = actual_command/computed_command = volt_k * voltage + volt_b -->
            <param name="volt_k" value = "-0.1088"/>
            <param name="volt_b" value = "2.1964"/>

            <param name="throttle_offset" value = "0.06"/>
            <param name="throttle_limit" value = "1"/>

            <!-- mass of vehicle in grams -->
            <param name="mass" value="195.5"/>

            <param name="use_yawTarget" value = "false"/>
            <param name="max_acc" value = "10.0" />
            <param name="voltage_compensation" value = "true"/>
        </node>

        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg _fcu_url)" />
            <arg name="gcs_url" value="$(arg _gcs_url)" />
            <arg name="tgt_system" value="100" if="$(eval arg('_uav_idx') ==0)" />
            <arg name="tgt_system" value="6" unless="$(eval arg('_uav_idx') ==0)" />
        </include>


    </group>
</launch>
