<?xml version="1.0"?>
<launch>
    <arg name="_uav_id" value="$(env UAV_GROUPNAME)" />
    <arg name="_uav_idx" value="$(env HOSTNAME)" />
    <arg name="_fcu_url" value="/dev/ttyAML0:230400" />
    <arg name="_gcs_url" value="udp://@192.168.31.84" />
    <group ns="drone0">

        <node pkg="pbtm" type="pbtm_node" name="pbtm_node" output="screen">
            <param name="agent_id" value="$(arg _uav_id)" />
            <param name="send_command_rate" value="20" />
            <param name="timeout" value="0.5" />
            <param name="takeoff_height" value="1.3" />
            <rosparam param="global_start_position">[1.0, 0.0, 0.0]</rosparam>
            <rosparam param="height_range">[1.0, 5.0]</rosparam>
            <param name="yaw_offset_rad" value="0.0" />
            <param name="order" value="4" />
            <param name="max_velocity" value="2.0" />
            <param name="knot_division" value="3" />
        </node>

        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg _fcu_url)" />
            <arg name="gcs_url" value="$(arg _gcs_url)" />
            <arg name="tgt_system" value="100" if="$(eval arg('_uav_idx') ==0)" />
            <arg name="tgt_system" value="$(arg _uav_idx)" unless="$(eval arg('_uav_idx') ==0)" />
        </include>


    </group>
</launch>